* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    background: #F5F8FA;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 1440px;
    height: 1170px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    position: relative;
    top: 0;
    z-index: 999;
    padding: 28px 40px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 4px solid #E0E6EA;
}

.navbar-container > img{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 30px 0px;
}

.navbar-container > ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-container > ul li a {
    color: #1D2C3C;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;
    padding: 10px;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0px 12px 9px;
}

.navbar-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 11px 20px 12px 19px;
    height: 100%;
    width: 100%;
    outline: none;
    color: #1D2C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;
    border-radius: 6px;
    border: 2px solid #646E7A;
}

footer {
    text-align: center;
    margin-block-start: 33px;
}
  
footer > p {
    color: rgba(99, 107, 111, 1);
    font-size: 14px;
    font-weight: 700;
}
  
footer > p > a {
    color: rgba(49, 112, 143, 1);
}
.main {
    width: 892px;
    height: 795px;
    margin: 0 auto;
    margin-block-start: 85px;
    display: flex;
    border-radius: 6px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.1);
    background: #fff;
}

.white {
    width: 580px;
    height: 795px;
    background-color: #fff;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
}

.white > h1 {
    width: 161px;
    height: 54px;
    color: #1D2C3C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-block-start: 41px;
    margin-inline-start: 48px;
    margin-block-end: 24px;
}

.basicInfo {
    border-block: 2px solid #F5F7FA;
    padding-block-start: 36px;
    padding-block-end: 41px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-end: 9px;
}

.digit-styling {
    padding: 6px 12px;
    border: 2px solid #548BC5;
    color: #548BC5;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    text-align: center;
    width: 16px; 
    height: 16px; 
    line-height: 16px; /* Center the text vertically */
}

.title > p {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.name {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title, .name, .e-mail {
    margin-inline: 48.5px;
}

.input-group {
    border: none;
    margin-bottom: 15px;
    width: 100%;
}


.left-section label {
    width: 187px;
    height: 17px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-block-end: 7px;
}

#e-mail {
    width: 80%; 
}


.left-section input {
    width: auto;
    height: 36px;
    background-color: rgba(237, 239, 242, 1);
    color: rgb(100, 110, 122, 1);
    outline: none;
    border: none;
    border-radius: 4px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: 400;
}

.white .card {
    margin-block-start: 33px;
}

.cardInfo-container {
    padding-inline: 48.5px;
    padding-block-end: 41px;
    border-block-end: 2px solid rgba(224, 230, 234, 1);
}

.cardInfo {
    display: flex;
    align-items: center;
}

.cardInfo .cardNumber {
    width: 270px;
}

.cardInfo .expiryDate {
    width: 90px;
}

.cardInfo .cvc{
    width: 78px;
}

button {
    width: 438px;
    height: 52px;
    background-color: rgba(3, 142, 125, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-block-start: 39px;
    margin-inline: 48.5px;
}

.stripe {
    width: 92px;
    height: 20.101px;
    margin-inline-start: 210px;
}

.blue {
    width: 312px;
    height: 795px;
    border-radius: 0px 6px 6px 0px;
    background-color: #1179BF;
    color: #fff;
    padding-inline: 44px;
    padding-block-start: 42px;
}

.pricingInfo {
    padding-block-end: 42px;
    border-block-end: 2px solid rgba(255, 255, 255, 0.2005);

    > .renewal {
        width: 160px;
        line-height: 24px;
        margin-block-start: 10px;
        font-size: 16px;
        font-weight: 400;
        margin-block-end: 36px;
    }

    > .pricingInfo-content {
        /* align-items: center;
        gap: 11px; */
        display: flex;
        align-items: center;

         > img {
            background-color: transparent;
            width: 20px;
            height: 20px;
            margin-top: 1px;
            margin-right: 11px;
        }
    }

    > .center {
        padding-block: 16px;
    }

    > .agencyPlan {
        margin-block-start: 38px;
        color: #fff;

        > p{
            font-size: 16px;
            font-weight: 400;
            margin-block-end: 12px;

            > span {
                font-weight: 700;
            }

        }

        > a {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.01px;
            
            > span {
                font-style: italic;
            }
        }
    }
}

.freelancer {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.pricing {
    padding-block-end: 3px;
  }
  
.price {
    display: flex;
    gap: 10px;
    vertical-align: top;
    margin-block-start: 18px;

    > .currency {
        width: 13px;
        height: 23px;
    }
    
    > .annualPricing {
        width: 117px;
        height: 47px;
    }
}



.help {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-inline-start: 80px;
    margin-block-start: 23px;
    margin-block-end: 31px;
}

.help > p {
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #1d2c3c;
  
    > .contact {
      font-weight: 400;
      color: rgba(100, 110, 122, 1);
  
    > a {
        color: rgba(100, 110, 122, 1);
        text-decoration-color: rgba(100, 110, 122, 1);
      }
    }
  }
  
  .review {
    padding-block-start: 41px;
  }
  
  .review-text {
    padding-inline-start: 2px;
  
    > p {
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      line-height: 24px;
  
      > span {
        font-weight: 700;
      }
    }
  }
  
  .reviewer {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-block-start: 27px;
  
    > img {
      border-radius: 50%;
    }
  
    > p {
      font-size: 16px;
      font-weight: 700;
    }
}


  
  